<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ControlDosimetro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ControlDosimetro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Formato" value="\\fmorales\\formato\\" />
    <add key="Archivo" value="\\fmorales\\formato\\" />
    <!--<add key="Formato" value="\\X-RAY2\\Documentos de XRAY\\baseCliente\\Plantilla\\" />
    <add key="Archivo" value="\\X-RAY2\\Documentos de XRAY\\baseCliente\\Documento\\" />-->
    <!--çsistiamc_cont sistiamc_xray sistiamc_Contabilidad sistiamc_control-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <connectionStrings>
    <add name="bd" connectionString="dsn=bdsistema;UID=sistiamc_cont;PWD=usrcontrol1;" providerName="System.Data.SqlClient" />
    <add name="ControlDosimetro.Properties.Settings.sistiamc_controlConnectionString" connectionString="Data Source=198.38.93.11;Initial Catalog=sistiamc_control;Persist Security Info=false;User ID=sistiamc_cont;Password=usrcontrol1" providerName="System.Data.SqlClient" />
    <add name="ControlDosimetro.Properties.Settings.sistiamc_controlConnectionString1" connectionString="Data Source=198.38.93.11;Initial Catalog=sistiamc_control;Persist Security Info=false;User ID=sistiamc_xray;Password=usrcontrol1" providerName="System.Data.SqlClient" />
    <add name="ControlDosimetro.Properties.Settings.sistiamc_controlConnectionString2" connectionString="Data Source=fmorales;Initial Catalog=sistiamc_control;User ID=sa;Password=sa1234567" providerName="System.Data.SqlClient" />
    <add name="ControlDosimetro.Properties.Settings.sistiamc_controlConnectionString3" connectionString="Data Source=fmorales;Initial Catalog=sistiamc_control;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <ControlDosimetro.Properties.Settings>
      <setting name="Publicacion" serializeAs="String">
        <value>desarrollo</value>
      </setting>
      <setting name="Formato" serializeAs="String">
        <value>D:\\formato\\</value>
      </setting>
      <setting name="Archivo" serializeAs="String">
        <value>D:\\formato\\</value>
      </setting>
      <setting name="RutaArchivoPlantilla" serializeAs="String">
        <value>C:\\Doc_Xray\\baseCliente\\Plantilla\\</value>
      </setting>
    </ControlDosimetro.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5022.0" newVersion="2.0.5022.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ControlDosimetro.Properties.Settings>
      <setting name="Pk_Sistema" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- produccion
      <setting name="ConfiguracionBD" serializeAs="String">
        <value>qbz4h7qjqno6UDISeyxTagzP8WL2RI9VHfd/l56YcLkZ1UdzuJNuXq3s7y9ZY3eq6QrxfamnP0GH0FDdEHA6bAWJdHonailm8a5b3eyUw5vuWLyX+mBmFPxKLHFVjRtYm0sjwb1KdqM=</value>
      </setting>
       <setting name="Ambiente" serializeAs="String">
        <value>Produccion</value>
      </setting>
       <setting name="Color" serializeAs="String">
        <value>Control</value>
      </setting>
      -->
      <!-- Desarrollo   -->
      <setting name="ConfiguracionBD" serializeAs="String">
        <value>Tt+mapvvmvsPcqLh9mYuqdzMFSVHcOkNauSx+IZdWIGfzaUdKE1vHSd/uzhaV1uUhgCwAE/+grr5ct60+ukkL7DvlO/nd1Ry</value>
      </setting>
      <setting name="Ambiente" serializeAs="String">
        <value>Desarrollo</value>
      </setting>
      <setting name="Color" serializeAs="String">
        <value>red</value>
      </setting>
      <setting name="RutaArchivo" serializeAs="String">
        <value>C:\\Doc_Xray\\</value>
      </setting>
      <setting name="RutaArchivoLog" serializeAs="String">
        <value>Log\\</value>
      </setting>
      <setting name="NombreArchivoLog" serializeAs="String">
        <value>SistemaControlDosimetroLog.Ini</value>
      </setting>
      <setting name="MensajeAdminstrador" serializeAs="String">
        <value>Error en el Sistema, Contacte con el administrador y envie el correo de log para poder solucionarlo.</value>
      </setting>
      <setting name="ColorCeldaBloqueda" serializeAs="String">
        <value>Info</value>
      </setting>
      <setting name="ColorCeldaEliminado" serializeAs="String">
        <value>Red</value>
      </setting>
    </ControlDosimetro.Properties.Settings>
  </applicationSettings>
</configuration>